* {
  box-sizing: border-box;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

#navBar  {
  color: rgb(25, 9, 41);
  display: flex;
  flex-direction: row;
  background-color:rgb(122, 105, 231);
  align-items: center;
  height: 100px;
  padding: 10px;
}

h1 {
  display: inline-block;
  width: fit-content;
  font-weight: bold;
  width: 250px;
  font-size: xx-large;
}
#navigation {
  margin-left: 40px;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 15px;
}

#navigation p {
  color: white;
  font-size: 20px;
  width: 130px;
  min-height: fit-content;
  font-weight: bold;
  border-bottom: 2px solid;
  justify-content: center;
  cursor: pointer; 
}

h2 {
  margin: 0;
  padding: 10px;
}

p {
  margin: 0;
  font-size: 20px;
}

.hero-banner {
  background-image: url(../images/02-hero-bg.jpg);
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-banner h2 {
  background-color:darkslategray;
  color: rgb(238, 228, 228);
  display: flex;
  align-items:flex-end;
}

.page-section {
  display: flex;
  flex-direction: row;
  padding: 50px;
  
}

.subHeading {
  font-size: 20px;
  width: 100px;
  border-right: 2px solid black;
  padding-right: 10px;
  margin-right: 10px;
  color: slateblue;
  display: flex;
  align-items: center;

}

.projectGrid {
  display: grid;
  height: 1000px;
  grid-template-rows: 2fr 1fr 1fr;
  grid-template-columns: 50% 50%;
  row-gap: 10px;
  column-gap: 10px;
  grid-template-areas:
  "project1 project1"
  "project2 project3"
  "project4 project5"
  ;
}

#project1 {
  grid-area: project1;
  background-image: url("../images/02-portfolio-1.jpg");
  color: white;

}

#project2 {
  grid-area: project2;
  background-image: url("../images/02-portfolio-2.jpg");
}

#project3 {
  grid-area: project3;
  background-image: url("../images/02-portfolio-3.jpg");
}

#project4 {
  grid-area: project4;
  background-image: url("../images/02-portfolio-4.jpg");
}

#project5 {
  grid-area: project5;
  background-image: url("../images/02-run-buddy.jpg");
}

.projectGridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer; 
}

.projectGridArea a {
  color: white;
}

.heading {
  background-color: rgba(0,0,0,0.7);
  display: block;
  color: white;
  font-size: 30px;
  align-self: center;
  padding: 5px 5px 5px 15px;
}

.contact-me {  
  background-color: slateblue;
  font-size: 19px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contact-me a {
  margin-left: 100px;
  font-weight: bold;
}

@media only screen and (max-width: 1000px) {
  #navigation{
   display: none;
  } 

 
 @media only screen and (max-width: 600px) {
   .subHeading {
     position: static;
     margin: 20px;
   }

   .projectGrid {
     grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
     grid-template-columns: 1fr;
     grid-template-areas: 
     "project1"
     "project2"
     "project3"
     "project4"
     "project5"
     ;
   }
   .contact-me a {
    display: block;
   }
 }