* {
  box-sizing: border-box;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}
h2 {
  margin: 0;
  padding: 10px;
}

p {
  margin: 0;
}

#navBar  {
  display: flex;
  flex-direction: row;
  background-color:slateblue;
  align-items: center;
  height: 80px;
  padding: 10px;
}

#navBar h1 {
  width: 25%;
  font-weight: 500;
}
#navigation {
  display: flex;
  width: 70%;
  align-items: center;
  justify-content:flex-end;
  padding: 30px;
}
#navigation p{
  padding: 0 20px 0 20px;
  width: 50;
}

.hero-banner {
  background-image: url(../images/02-hero-bg.jpg);
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-banner h2 {
  background-color:darkslategray;
  color: white;
  display: flex;
  align-items:flex-end;
}

.page-section {
  display: flex;
  flex-direction: row;
  padding: 50px;
}

.subHeading {
  width: 100px;
  border-right: 2px solid black;
  margin-right: 10px;
  color: slateblue;
}

.projectGrid {
  display: grid;
  grid-template-rows: 2fr 1fr 1fr;
  grid-template-columns: 50% 50%;
  grid-template-areas:
  "project1 project1"
  "project1 project1"
  "project2 project3"
  "project4 project5"
  ;
}

#project1 {
  grid-area: project1;
  background-image: url("../images/02-portfolio-1.jpg");
}

#project2 {
  grid-area: project2;
  background-image: url("../images/02-portfolio-2.jpg");
}

#project3 {
  grid-area: project3;
  background-image: url("../images/02-portfolio-3.jpg");
}

#project4 {
  grid-area: project4;
  background-image: url("../images/02-portfolio-4.jpg");
}

#project5 {
  grid-area: project5;
  background-image: url("../images/02-run-buddy.jpg");
}

.projectGridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
}

.contact-me {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: slateblue;
}


